* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: fit-content;
}

.interface {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.enemy-health-container,
.player-health-container {
  flex: 1;
  background-color: yellow;
}

.player-health,
.enemy-health {
  width: 100%;
  height: 30px;
  background-color: blue;
}

.player-health {
  margin-left: auto;
}

.timer {
  background-color: red;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
}
