* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Press Start 2P", cursive;
}

.container {
  position: absolute;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.interface {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.enemy-health-container,
.player-health-container {
  flex: 1;
  background-color: red;
  border: 4px solid white;
}

.enemy-health-container {
  border-left: none;
}

.player-health-container {
  border-right: none;
}

.player-health,
.enemy-health {
  width: 100%;
  height: 30px;
  background-color: #818cf8;
}

.player-health {
  margin-left: auto;
}

.timer {
  background-color: black;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid white;
}

.game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
}
